# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment files & credentials
.env
.envcredentials.json

# Logs
*.log

# Local scripts (not for repository)
UA_data_to_Agency.py
