apache-airflow-providers-http
apache-airflow-providers-smtp
apache-airflow-providers-postgres
functions-framework==3.*
flask==2.2.5
google-cloud-tasks==2.15.1
protobuf==4.25.3
google-cloud-bigquery==3.14.1
pandas==2.2.2
requests==2.31.0
db-dtypes==1.1.1
pandas_gbq==0.29.0
pyarrow==21.0.0
numpy==2.3.0